# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
jest.config.ts
/src/app/__tests__
/src/components/__tests__
/src/lib/__tests__
/src/utils/__tests__

# next.js
/.next/
/.swc/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env.dev
(deprecated).env.local
.env.prod

# vercel
.vercel
vercel.json

# typescript
*.tsbuildinfo
next-env.d.ts

# other
/backup
/.vscode
