@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-poppins);
}

.radix-themes {
  --default-font-family: "Poppins", Helvetica, Arial, sans-serif;
  --heading-font-family: "Poppins", Helvetica, Arial, sans-serif;
}
