.swiper {
  padding-bottom: 35px !important;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-color: transparent;
}

.swiper-button-prev {
  background-image: url("./arrow_prev.svg") !important;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-button-next {
  background-image: url("./arrow_next.svg") !important;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-button-disabled {
  --swiper-navigation-color: transparent;
  cursor: not-allowed;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 0.5;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: whitesmoke;
}
